body{
    background-color: black;
    color: lightgray;
    padding: 100px 60px;
    font-family: 'Inter', sans-serif;
    
}

.div{
    font-size: 24px;
    margin-bottom: 30px;
}



#dropdown{
    font-size: 24px;
    padding: 15px;
    background-color: black;
    color: white;
    margin: 30px 0px;
}

.btn{
    
    font-size: 24px;
    margin: 45px 0px;
    padding: 15px 70px ;
    margin-bottom: 100px;
}



.subdivclass{
    display: flex;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 25px 0px;
    justify-content: space-around;
    width: 500px;
}

.add-user-section{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin-top: 30px;
}

.add{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: black;
    
    border-radius: 10px;
    
}

.input{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 15px 0px;
    background-color: black;
    color: lightgray;
}